body {
	margin: 0px;
	padding: 0px;
	font-family: 'museo-sans-300';
	font-size: 16px;
	color: #ffffff;
	background: #2E2D2D;
}

header {
	width: 100%;
	padding: 128px 0px;
	background-color: #ffffff;
	background-image: url('./background.png');
	background-position: 0px 0px;
	background-blend-mode: multiply;
	background-repeat: repeat repeat;
}

header > div {
	display: block;
	margin: 0px auto;
	padding: 100px;
	width: 100%;
	max-width: 640px;
	color: #ffffff;
	background: white url('../images/TeamLogo.png');
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 8px;
    border-color: black;
	text-align: justify;
}

header > div > p > label {
	display: inline-block;
	width: 45%;
	float: left;
	text-align: right;
	color: #333333;
}

header h1 {
	display: block;
	margin: 0px;
	padding: 0px;
	font-family: 'source-sans-700';
	font-size: 40px;
}

header h1 > span {
	color: #333333;
}

main section {
    color: white;
    display: flex;
}

main > div {
    display: flex;
	margin: 0px auto;
	padding: 100px;
	width: 100%;
	max-width: 640px;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 8px;
    border-color: white;
    border-bottom-style: double;
	text-align: justify;
}

input {
    border: 2px solid black;
    border-radius: 4px;
    padding: 6px 12px;
    margin: auto;
    background-color: white;
    padding-left: 20px;
}

label {/*
    display: flex;
    text-align: center;*/
}
/*.zentriert {
    text-align: center;
}*/

/*
main section article a:hover,
main section article a:focus {
	color: #ffe51f;
	transition: 250ms all ease-out;
}

*/

/*
main section article.social {
	width: auto;
	height: auto;
}
*/


footer {
    text-align: center;
    color: black;
    background-color: white;
}

/*
 * MEDIA QUERIES
 */

@media (max-width: 420px) {

	header > div {
		width: auto;
		max-width: initial;
	}

	header p {
		line-height: 2em;
	}

	main section article {
		display: block;
		margin: 16px 0px;
		width: auto;
	}

}

@media (max-width: 320px) {

	header > div {
		padding: 16px 0px;
	}

	header p {
		text-align: justify;
	}

}
